/* only for embed */
html, body {
	background-color: whitesmoke;
}


form#lister-subscribe .message.success {
	color: limegreen; /* success by default*/
}

form#lister-subscribe .message.error {
	color:red;
}